.review-content {
  display: grid;
  grid-template-areas: "info" "cont";
  @include media (lg) {
    grid-template-columns: 7fr 3fr;
    grid-template-areas: "cont info";
    gap: 50px
  }


  &__info {
    grid-area: info;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  &__main-content {
    grid-area: cont;
    margin-top: 40px;
    @include media(lg) {
      margin-top: 0;
    }
  }

}