.sidebar{
    display: none;
    flex-shrink: 1;
    height: min-content;

    @include media (sm) {
        display: block;
        margin-top: 20px;
        overflow: hidden;
        @include container (10px, 0);
        max-width: 400px;
    }
    &__title {
        text-align: center;
        padding: 10px 25px;
        margin: 0;
        display: inline-block;
        box-sizing: border-box;
        border-radius: 0 0 10px 0;
        background-color: var(--bg-cat);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    &__content {
        padding: 24px 0;
    }
    &__block{
        display: flex;
        padding: 12px 10px;
        gap: 20px;
        align-items: center;
        border-bottom: 1px solid var(--bg-cat);
        &:last-of-type {
            border-bottom: none;
        }
    }
    & img {
        border-radius: 5px;
        flex-shrink: 0;
        max-height: 72px;
        max-width: 140px;
    }
    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;

        & span {
            @include text(400);
        }
    }
}