.reviews{
    margin-top: 34px;
    padding: 12px 0 24px;

    &__desc{
        @include text(400);
        margin-top: 12px;
    }
    &__block {
        margin-top: 24px;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: space-around;
    }
}

.review {
    width: 132px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 8px;

    @include media (sm) {
        width: 160px;
    }
    @include media (lg) {
        width: 250px;
    }
    &__img {
        position: relative;
        border-radius: 8px 0 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        overflow: hidden;
       // background: url('../images/review_bg.svg') center no-repeat;
       // background-size: cover;
        @include media(lg){
            height: 150px;
        }

        &::before{
            position: absolute;
            content: '';
            border-radius: 8px 0;
            display: block;
            height: 120%;
            width: 120%;
            background: url('../images/left-angle.svg')no-repeat;

            @include media (lg) {
                height: 100%;
                width: 100%;

            }
        }
        &::after{
            position: absolute;
            content: '';
            display: block;
            height: 130%;
            width: 130%;
            right: -10%;
            bottom: -40%;
            background: url('../images/right-angle.svg')no-repeat right bottom;
            
            @include media (lg) {
                right: 0;
                bottom: -20%;
            }
        }
    }
    &__info {
        padding: 8px 12px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__name {
        color: var(--blue-text);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__tag {
        background: var(--bg-grey);
        border-radius: 5px;
        padding: 2px 8px;
        @include text(400);
    }
}