.info-sidebar {
  width: 100%;
  overflow: hidden;
  background: var(--bg-grey);
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__header {
    position: relative;
    cursor: pointer;
     & > h3 {
       width: max-content;
       margin: 0;
       padding: 10px 24px;
       transition: background-color .5s linear;
       border-radius: 0 0 10px 0;

       &::after {
         content: '';
         position: absolute;
         right: 20px;
         top: calc(50% - 8px);
         display: block;
         height: 16px;
         width: 16px;
         background: url("../images/icons/arrow-down.svg") center no-repeat;
         transition: transform .2s linear;
         @include media (lg) {
           display: none;
         }
       }
       @include media(lg){
         background-color: var(--bg-cat);
       }
     }

    &.is-open > h3 {
      background-color: var(--bg-cat);
      &::after{
        transform: rotateZ(180deg);
      }
    }
    &.is-open + .info-sidebar__content {
      max-height: 1000px;
    }
  }

  &__content {
    box-sizing: border-box;
    max-height: 0;
    transition: max-height .3s linear;
    @include media(lg) {
      max-height: min-content;
    }
  }
  &__block {
    box-sizing: border-box;
    padding: 10px 12px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    border-bottom: 1px solid var(--bg-cat);
    &:first-of-type {
      padding-top: 20px;
    }
    &:last-of-type {
      padding-bottom: 40px;
      border-bottom: none;
    }
  }
  &__text {
    @include text(500);
  }
  &__text_right{
    text-align: end;
  }
}