body {
    font-family: 'Gilroy';
    background: url(../images/main-bg.jpg) center no-repeat;
    background-size: cover;
    color:var(--white);
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1{
    margin: 0;
    font-family: Gilroy;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    color: var(--white);
    @include media (md) {
        font-size: 48px;
        line-height: 60px;
    }
}
h2 {
    margin: 0 0 4px;;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    color: var(--white);
    @include media (lg) {
        font-size: 32px;
        line-height: 44px;
    }
}
p {
    margin: 0;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    @include media (lg) {
        font-size: 16px;
        line-height: 24px;
    }
    
}
a {
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    color: var(--white)
}
.container {
    width: 100%;
    max-width: 1120px;
    margin: auto;
}
.container_mt {
    width: 100%;
    max-width: 1120px;
    margin: 40px auto 0;
    @include media(sm) {
        margin: 60px auto 0;
    }
}


.index__title {
    display: inline;
    @include h2-index (var(--white));
}
.index__link{
    margin-left: 12px;
    @include color-text;
    @include text-min(500);
    border-bottom: 1px solid var(--main-color);
    transition: .3s ease;
    &:hover {
        border-bottom: none;
    }
}
.page__title-block{
    margin: 30px auto 40px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    @include media (sm) {
        align-items: center;
        flex-direction: row;
        gap: 30px;
    }
}
.page__title {
    text-align: left;
    flex-shrink: 0;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    @include media (sm) {
        font-size: 48px;
    }
}

.page__subtitle{
    flex-shrink: 2;
    @include text(500);
}