:root {
--main-color: #CE9FFC;
--grey-text: rgba(180, 200, 243, 0.40);
--white: #fff;
--gradient-1: linear-gradient(265deg, #CE9FFC 4.25%, rgba(115, 103, 240, 0.80) 100%);
--gradient-2: linear-gradient(265deg, #C0A4FA 4.25%, rgba(217, 202, 248, 0.80) 100%);
--bg-color: #090F1E;
--bg-grey: #1E283F;
--bg-cat: rgba(148, 166, 205, 0.26);
--bg-button: rgba(255, 255, 255, 0.20);
--red: #FF474B;
--yelow: #FFC647;
--green: #5BBC56;
}

$screen-lg: 1280px;
$screen-md: 1024px;
$screen-sm: 834px;