.header{
    padding: 30px 0;
    &__resp {
        padding: 11px 0;
        display: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.60);
        color: rgba(255, 255, 255, 0.60);
        @include text-min(400);

        @include media (md) {
            display: flex;
            justify-content: end;
            gap: 8px;
            
        }
    }
    &__content{
        position: relative;
        display: grid;
        grid-template-areas: "logo toggle" "menu menu" "buttons buttons";
        align-items: center;
        justify-content: space-between;
    }
    &__logo{
        grid-area: logo;
    }
    &__menu-toggle {
        background: url('../images/icons/burger.svg') center no-repeat;
        border: none;
        width: 40px;
        height: 40px;
        justify-self: end;
        grid-area: toggle;
    }
    &__menu-toggle.is-open ~ .header__menu {
        display: block;
    }
    &__menu-toggle.is-open ~ .header__buttons {
        display: flex;
    }
    &__menu {
        background-color: var(--bg-grey);
        padding: 20px;
        border-radius: 20px 20px 0 0;
        grid-area: menu;
        display: none;
    }
    &__menu-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        
    }
    &__buttons{
        background-color: var(--bg-grey);
        padding: 20px;
        border-radius: 0 0 20px 20px;
        grid-area: buttons;
        display: flex;
        justify-content: space-around;
        gap: 20px;
        display: none;
    }


}